#MovieItemDIV_1 {
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(142, 149, 165);
    float: left;
    height: 220px;
    left: 0px;
    min-height: 1px;
    position: relative;
    right: 0px;
    text-decoration: none solid rgb(142, 149, 165);
    text-size-adjust: 100%;
    top: 0px;
    width: 146.25px;
    column-rule-color: rgb(142, 149, 165);
    -webkit-locale: "en-US";
    perspective-origin: 73.125px 110px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-text-emphasis-color: rgb(142, 149, 165);
    -webkit-text-fill-color: rgb(142, 149, 165);
    -webkit-text-stroke-color: rgb(142, 149, 165);
    transform-origin: 73.125px 110px;
    caret-color: rgb(142, 149, 165);
    border: 0px none rgb(142, 149, 165);
    font: normal normal 300 normal 13px / 18.5714px Roboto, sans-serif;
    outline: rgb(142, 149, 165) none 0px;
    padding: 0px 10px;
    -webkit-border-after: 0px none rgb(142, 149, 165);
    -webkit-border-before: 0px none rgb(142, 149, 165);
    -webkit-border-end: 0px none rgb(142, 149, 165);
    -webkit-border-start: 0px none rgb(142, 149, 165);
    -webkit-transform-origin: 73.125px 110px;
}/*#MovieItemDIV_1*/

#MovieItemDIV_1:after {
    box-sizing: border-box;
    color: rgb(142, 149, 165);
    text-decoration: none solid rgb(142, 149, 165);
    text-size-adjust: 100%;
    column-rule-color: rgb(142, 149, 165);
    -webkit-locale: "en-US";
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-text-emphasis-color: rgb(142, 149, 165);
    -webkit-text-fill-color: rgb(142, 149, 165);
    -webkit-text-stroke-color: rgb(142, 149, 165);
    caret-color: rgb(142, 149, 165);
    border: 0px none rgb(142, 149, 165);
    font: normal normal 300 normal 13px / 18.5714px Roboto, sans-serif;
    outline: rgb(142, 149, 165) none 0px;
    -webkit-border-after: 0px none rgb(142, 149, 165);
    -webkit-border-before: 0px none rgb(142, 149, 165);
    -webkit-border-end: 0px none rgb(142, 149, 165);
    -webkit-border-start: 0px none rgb(142, 149, 165);
}/*#MovieItemDIV_1:after*/

#MovieItemDIV_1:before {
    box-sizing: border-box;
    color: rgb(142, 149, 165);
    text-decoration: none solid rgb(142, 149, 165);
    text-size-adjust: 100%;
    column-rule-color: rgb(142, 149, 165);
    -webkit-locale: "en-US";
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-text-emphasis-color: rgb(142, 149, 165);
    -webkit-text-fill-color: rgb(142, 149, 165);
    -webkit-text-stroke-color: rgb(142, 149, 165);
    caret-color: rgb(142, 149, 165);
    border: 0px none rgb(142, 149, 165);
    font: normal normal 300 normal 13px / 18.5714px Roboto, sans-serif;
    outline: rgb(142, 149, 165) none 0px;
    -webkit-border-after: 0px none rgb(142, 149, 165);
    -webkit-border-before: 0px none rgb(142, 149, 165);
    -webkit-border-end: 0px none rgb(142, 149, 165);
    -webkit-border-start: 0px none rgb(142, 149, 165);
}/*#MovieItemDIV_1:before*/

#MovieItemDIV_2 {
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(142, 149, 165);
    height: 200px;
    left: 0px;
    position: relative;
    right: 0px;
    text-decoration: none solid rgb(142, 149, 165);
    text-size-adjust: 100%;
    top: 0px;
    width: 126.25px;
    column-rule-color: rgb(142, 149, 165);
    -webkit-locale: "en-US";
    perspective-origin: 63.125px 100px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-text-emphasis-color: rgb(142, 149, 165);
    -webkit-text-fill-color: rgb(142, 149, 165);
    -webkit-text-stroke-color: rgb(142, 149, 165);
    transform-origin: 63.125px 100px;
    caret-color: rgb(142, 149, 165);
    border: 0px none rgb(142, 149, 165);
    font: normal normal 300 normal 13px / 18.5714px Roboto, sans-serif;
    margin: 10px 0px;
    outline: rgb(142, 149, 165) none 0px;
    -webkit-border-after: 0px none rgb(142, 149, 165);
    -webkit-border-before: 0px none rgb(142, 149, 165);
    -webkit-border-end: 0px none rgb(142, 149, 165);
    -webkit-border-start: 0px none rgb(142, 149, 165);
    -webkit-transform-origin: 63.125px 100px;
}/*#MovieItemDIV_2*/

#MovieItemDIV_2:after {
    box-sizing: border-box;
    color: rgb(142, 149, 165);
    text-decoration: none solid rgb(142, 149, 165);
    text-size-adjust: 100%;
    column-rule-color: rgb(142, 149, 165);
    -webkit-locale: "en-US";
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-text-emphasis-color: rgb(142, 149, 165);
    -webkit-text-fill-color: rgb(142, 149, 165);
    -webkit-text-stroke-color: rgb(142, 149, 165);
    caret-color: rgb(142, 149, 165);
    border: 0px none rgb(142, 149, 165);
    font: normal normal 300 normal 13px / 18.5714px Roboto, sans-serif;
    outline: rgb(142, 149, 165) none 0px;
    -webkit-border-after: 0px none rgb(142, 149, 165);
    -webkit-border-before: 0px none rgb(142, 149, 165);
    -webkit-border-end: 0px none rgb(142, 149, 165);
    -webkit-border-start: 0px none rgb(142, 149, 165);
}/*#MovieItemDIV_2:after*/

#MovieItemDIV_2:before {
    box-sizing: border-box;
    color: rgb(142, 149, 165);
    text-decoration: none solid rgb(142, 149, 165);
    text-size-adjust: 100%;
    column-rule-color: rgb(142, 149, 165);
    -webkit-locale: "en-US";
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-text-emphasis-color: rgb(142, 149, 165);
    -webkit-text-fill-color: rgb(142, 149, 165);
    -webkit-text-stroke-color: rgb(142, 149, 165);
    caret-color: rgb(142, 149, 165);
    border: 0px none rgb(142, 149, 165);
    font: normal normal 300 normal 13px / 18.5714px Roboto, sans-serif;
    outline: rgb(142, 149, 165) none 0px;
    -webkit-border-after: 0px none rgb(142, 149, 165);
    -webkit-border-before: 0px none rgb(142, 149, 165);
    -webkit-border-end: 0px none rgb(142, 149, 165);
    -webkit-border-start: 0px none rgb(142, 149, 165);
}/*#MovieItemDIV_2:before*/

#MovieItemDIV_3 {
    bottom: 179px;
    box-sizing: border-box;
    color: rgb(34, 34, 34);
    height: 16px;
    left: 99.0625px;
    position: absolute;
    right: 5px;
    text-decoration: none solid rgb(34, 34, 34);
    text-size-adjust: 100%;
    top: 5px;
    width: 22.1875px;
    z-index: 1;
    column-rule-color: rgb(34, 34, 34);
    -webkit-locale: "en-US";
    perspective-origin: 11.0938px 8px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-text-emphasis-color: rgb(34, 34, 34);
    -webkit-text-fill-color: rgb(34, 34, 34);
    -webkit-text-stroke-color: rgb(34, 34, 34);
    transform-origin: 11.0938px 8px;
    caret-color: rgb(34, 34, 34);
    background: rgb(254, 215, 0) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(34, 34, 34);
    border-radius: 2px 2px 2px 2px;
    font: normal normal 500 normal 10.4px / 14.8571px Roboto, sans-serif;
    outline: rgb(34, 34, 34) none 0px;
    padding: 1px 4px;
    -webkit-border-after: 0px none rgb(34, 34, 34);
    -webkit-border-before: 0px none rgb(34, 34, 34);
    -webkit-border-end: 0px none rgb(34, 34, 34);
    -webkit-border-start: 0px none rgb(34, 34, 34);
    -webkit-transform-origin: 11.0938px 8px;
}/*#MovieItemDIV_3*/

#MovieItemDIV_3:after {
    box-sizing: border-box;
    color: rgb(34, 34, 34);
    text-decoration: none solid rgb(34, 34, 34);
    text-size-adjust: 100%;
    column-rule-color: rgb(34, 34, 34);
    -webkit-locale: "en-US";
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-text-emphasis-color: rgb(34, 34, 34);
    -webkit-text-fill-color: rgb(34, 34, 34);
    -webkit-text-stroke-color: rgb(34, 34, 34);
    caret-color: rgb(34, 34, 34);
    border: 0px none rgb(34, 34, 34);
    font: normal normal 500 normal 10.4px / 14.8571px Roboto, sans-serif;
    outline: rgb(34, 34, 34) none 0px;
    -webkit-border-after: 0px none rgb(34, 34, 34);
    -webkit-border-before: 0px none rgb(34, 34, 34);
    -webkit-border-end: 0px none rgb(34, 34, 34);
    -webkit-border-start: 0px none rgb(34, 34, 34);
}/*#MovieItemDIV_3:after*/

#MovieItemDIV_3:before {
    box-sizing: border-box;
    color: rgb(34, 34, 34);
    text-decoration: none solid rgb(34, 34, 34);
    text-size-adjust: 100%;
    column-rule-color: rgb(34, 34, 34);
    -webkit-locale: "en-US";
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-text-emphasis-color: rgb(34, 34, 34);
    -webkit-text-fill-color: rgb(34, 34, 34);
    -webkit-text-stroke-color: rgb(34, 34, 34);
    caret-color: rgb(34, 34, 34);
    border: 0px none rgb(34, 34, 34);
    font: normal normal 500 normal 10.4px / 14.8571px Roboto, sans-serif;
    outline: rgb(34, 34, 34) none 0px;
    -webkit-border-after: 0px none rgb(34, 34, 34);
    -webkit-border-before: 0px none rgb(34, 34, 34);
    -webkit-border-end: 0px none rgb(34, 34, 34);
    -webkit-border-start: 0px none rgb(34, 34, 34);
}/*#MovieItemDIV_3:before*/

#MovieItemA_4 {
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(0, 172, 193);
    display: block;
    height: 200px;
    left: 0px;
    position: relative;
    right: 0px;
    text-decoration: none solid rgb(0, 172, 193);
    text-size-adjust: 100%;
    top: 0px;
    width: 126.25px;
    column-rule-color: rgb(0, 172, 193);
    -webkit-locale: "en-US";
    perspective-origin: 63.125px 100px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-text-decorations-in-effect: none;
    -webkit-text-emphasis-color: rgb(0, 172, 193);
    -webkit-text-fill-color: rgb(0, 172, 193);
    -webkit-text-stroke-color: rgb(0, 172, 193);
    transform-origin: 63.125px 100px;
    caret-color: rgb(0, 172, 193);
    border: 0px none rgb(0, 172, 193);
    border-radius: 6.8px 6.8px 6.8px 6.8px;
    font: normal normal 300 normal 13px / 18.5714px Roboto, sans-serif;
    outline: rgb(0, 172, 193) none 0px;
    overflow: hidden;
    -webkit-border-after: 0px none rgb(0, 172, 193);
    -webkit-border-before: 0px none rgb(0, 172, 193);
    -webkit-border-end: 0px none rgb(0, 172, 193);
    -webkit-border-start: 0px none rgb(0, 172, 193);
    -webkit-transform-origin: 63.125px 100px;
}/*#MovieItemA_4*/

#MovieItemA_4:after {
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(0, 172, 193);
    content: '""';
    display: block;
    height: 60px;
    left: 0px;
    position: absolute;
    right: 0px;
    text-decoration: none solid rgb(0, 172, 193);
    text-size-adjust: 100%;
    top: 140px;
    width: 126.25px;
    column-rule-color: rgb(0, 172, 193);
    -webkit-locale: "en-US";
    perspective-origin: 63.125px 30px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-text-decorations-in-effect: none;
    -webkit-text-emphasis-color: rgb(0, 172, 193);
    -webkit-text-fill-color: rgb(0, 172, 193);
    -webkit-text-stroke-color: rgb(0, 172, 193);
    transform-origin: 63.125px 30px;
    caret-color: rgb(0, 172, 193);
    background: rgba(255, 255, 255, 0) -webkit-linear-gradient(top, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.8)) repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(0, 172, 193);
    font: normal normal 300 normal 13px / 18.5714px Roboto, sans-serif;
    outline: rgb(0, 172, 193) none 0px;
    -webkit-border-after: 0px none rgb(0, 172, 193);
    -webkit-border-before: 0px none rgb(0, 172, 193);
    -webkit-border-end: 0px none rgb(0, 172, 193);
    -webkit-border-start: 0px none rgb(0, 172, 193);
    -webkit-transform-origin: 63.125px 30px;
}/*#MovieItemA_4:after*/

#MovieItemA_4:before {
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(0, 172, 193);
    content: '""';
    display: block;
    height: 200px;
    left: 0px;
    opacity: 0;
    position: absolute;
    right: 0px;
    text-decoration: none solid rgb(0, 172, 193);
    text-size-adjust: 100%;
    top: 0px;
    width: 126.25px;
    column-rule-color: rgb(0, 172, 193);
    -webkit-locale: "en-US";
    perspective-origin: 63.125px 100px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-text-decorations-in-effect: none;
    -webkit-text-emphasis-color: rgb(0, 172, 193);
    -webkit-text-fill-color: rgb(0, 172, 193);
    -webkit-text-stroke-color: rgb(0, 172, 193);
    transform-origin: 63.125px 100px;
    caret-color: rgb(0, 172, 193);
    background: rgba(0, 0, 0, 0.3) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(0, 172, 193);
    border-radius: 5px 5px 5px 5px;
    font: normal normal 300 normal 13px / 18.5714px Roboto, sans-serif;
    outline: rgb(0, 172, 193) none 0px;
    transition: top 0.5s ease 0s, left 0.5s ease 0s, right 0.5s ease 0s, bottom 0.5s ease 0s, opacity 0.5s ease-out 0s;
    -webkit-border-after: 0px none rgb(0, 172, 193);
    -webkit-border-before: 0px none rgb(0, 172, 193);
    -webkit-border-end: 0px none rgb(0, 172, 193);
    -webkit-border-start: 0px none rgb(0, 172, 193);
    -webkit-transition: top 0.5s ease 0s, left 0.5s ease 0s, right 0.5s ease 0s, bottom 0.5s ease 0s, opacity 0.5s ease-out 0s;
    -webkit-transform-origin: 63.125px 100px;
}/*#MovieItemA_4:before*/

#MovieItemIMG_5 {
    box-sizing: border-box;
    color: rgb(0, 172, 193);
    cursor: pointer;
    height: 200px;
    text-decoration: none solid rgb(0, 172, 193);
    text-size-adjust: 100%;
    vertical-align: middle;
    width: 126.25px;
    column-rule-color: rgb(0, 172, 193);
    -webkit-locale: "en-US";
    perspective-origin: 63.125px 100px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-text-emphasis-color: rgb(0, 172, 193);
    -webkit-text-fill-color: rgb(0, 172, 193);
    -webkit-text-stroke-color: rgb(0, 172, 193);
    transform-origin: 63.125px 100px;
    caret-color: rgb(0, 172, 193);
    border: 0px none rgb(0, 172, 193);
    font: normal normal 300 normal 13px / 18.5714px Roboto, sans-serif;
    outline: rgb(0, 172, 193) none 0px;
    -webkit-border-after: 0px none rgb(0, 172, 193);
    -webkit-border-before: 0px none rgb(0, 172, 193);
    -webkit-border-end: 0px none rgb(0, 172, 193);
    -webkit-border-start: 0px none rgb(0, 172, 193);
    -webkit-transform-origin: 63.125px 100px;
}/*#MovieItemIMG_5*/

#MovieItemIMG_5:after {
    box-sizing: border-box;
    color: rgb(0, 172, 193);
    cursor: pointer;
    text-decoration: none solid rgb(0, 172, 193);
    text-size-adjust: 100%;
    column-rule-color: rgb(0, 172, 193);
    -webkit-locale: "en-US";
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-text-emphasis-color: rgb(0, 172, 193);
    -webkit-text-fill-color: rgb(0, 172, 193);
    -webkit-text-stroke-color: rgb(0, 172, 193);
    caret-color: rgb(0, 172, 193);
    border: 0px none rgb(0, 172, 193);
    font: normal normal 300 normal 13px / 18.5714px Roboto, sans-serif;
    outline: rgb(0, 172, 193) none 0px;
    -webkit-border-after: 0px none rgb(0, 172, 193);
    -webkit-border-before: 0px none rgb(0, 172, 193);
    -webkit-border-end: 0px none rgb(0, 172, 193);
    -webkit-border-start: 0px none rgb(0, 172, 193);
}/*#MovieItemIMG_5:after*/

#MovieItemIMG_5:before {
    box-sizing: border-box;
    color: rgb(0, 172, 193);
    cursor: pointer;
    text-decoration: none solid rgb(0, 172, 193);
    text-size-adjust: 100%;
    column-rule-color: rgb(0, 172, 193);
    -webkit-locale: "en-US";
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-text-emphasis-color: rgb(0, 172, 193);
    -webkit-text-fill-color: rgb(0, 172, 193);
    -webkit-text-stroke-color: rgb(0, 172, 193);
    caret-color: rgb(0, 172, 193);
    border: 0px none rgb(0, 172, 193);
    font: normal normal 300 normal 13px / 18.5714px Roboto, sans-serif;
    outline: rgb(0, 172, 193) none 0px;
    -webkit-border-after: 0px none rgb(0, 172, 193);
    -webkit-border-before: 0px none rgb(0, 172, 193);
    -webkit-border-end: 0px none rgb(0, 172, 193);
    -webkit-border-start: 0px none rgb(0, 172, 193);
}/*#MovieItemIMG_5:before*/

#MovieItemA_6 {
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: block;
    height: 28px;
    left: 0px;
    position: absolute;
    right: 0px;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    top: 172px;
    width: 126.25px;
    column-rule-color: rgb(255, 255, 255);
    -webkit-locale: "en-US";
    perspective-origin: 63.125px 14px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-text-decorations-in-effect: none;
    -webkit-text-emphasis-color: rgb(255, 255, 255);
    -webkit-text-fill-color: rgb(255, 255, 255);
    -webkit-text-stroke-color: rgb(255, 255, 255);
    transform-origin: 63.125px 14px;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 400 normal 13px / 18.5714px Roboto, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
    padding: 5px;
    -webkit-border-after: 0px none rgb(255, 255, 255);
    -webkit-border-before: 0px none rgb(255, 255, 255);
    -webkit-border-end: 0px none rgb(255, 255, 255);
    -webkit-border-start: 0px none rgb(255, 255, 255);
    -webkit-transform-origin: 63.125px 14px;
}/*#MovieItemA_6*/

#MovieItemA_6:after {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    column-rule-color: rgb(255, 255, 255);
    -webkit-locale: "en-US";
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-text-decorations-in-effect: none;
    -webkit-text-emphasis-color: rgb(255, 255, 255);
    -webkit-text-fill-color: rgb(255, 255, 255);
    -webkit-text-stroke-color: rgb(255, 255, 255);
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 400 normal 13px / 18.5714px Roboto, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
    -webkit-border-after: 0px none rgb(255, 255, 255);
    -webkit-border-before: 0px none rgb(255, 255, 255);
    -webkit-border-end: 0px none rgb(255, 255, 255);
    -webkit-border-start: 0px none rgb(255, 255, 255);
}/*#MovieItemA_6:after*/

#MovieItemA_6:before {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    column-rule-color: rgb(255, 255, 255);
    -webkit-locale: "en-US";
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-text-decorations-in-effect: none;
    -webkit-text-emphasis-color: rgb(255, 255, 255);
    -webkit-text-fill-color: rgb(255, 255, 255);
    -webkit-text-stroke-color: rgb(255, 255, 255);
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 400 normal 13px / 18.5714px Roboto, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
    -webkit-border-after: 0px none rgb(255, 255, 255);
    -webkit-border-before: 0px none rgb(255, 255, 255);
    -webkit-border-end: 0px none rgb(255, 255, 255);
    -webkit-border-start: 0px none rgb(255, 255, 255);
}/*#MovieItemA_6:before*/

