.header-container{
    position: fixed;
    z-index: 10;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding-top: 10px;
    background-color: #000;
    height: 5rem;
}
.mc-logo{
    height: 60px;
    width: 150px;
    float: left;
    margin-left: 2.5rem;
}

.auth-links{
    border: 1px solid #fff;
    line-height: normal;
    font-weight: 400;
    text-decoration: none !important;
    float: right;
    font-size: 1rem;
    padding: .625rem 1.3rem;
    margin: .5rem .625rem .5rem 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #fff;
    border-radius: 3px;
}

.home-header{
    height: 70px;
    color: #fff;
}

.home-header .home-header-container{
    left: 0;
    right: 0;
    top: 0;
    position: relative;
    z-index: 1;
    color: #fff;
}

.home-header-container{
    top: 0px;
    position: fixed;
    background: rgb(20, 20, 20);
    cursor: pointer;
}

.home-header .tabbed-primary-navigation{
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
}

.tabbed-primary-navigation{
    line-height: 4;
}

.tabbed-primary-navigation .navigation-tab {
    list-style-type: none;
    margin-left: 18px;
    height: 100%;
}

#menu .nav-drop {
    margin-left: auto;
    margin-right: 25px;
}

#menu .nav-drop a{
    text-decoration: none;
    color: #fff;
    padding-left: 30px;
}

.user-name-color{
    color: #E50914 !important;
}