#DIV_1 {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(142, 149, 165);
    display: inline-block;
    height: 32px;
    left: 0px;
    position: relative;
    right: 0px;
    text-align: left;
    text-decoration: none solid rgb(142, 149, 165);
    text-size-adjust: 100%;
    top: 20px;
    vertical-align: top;
    width: 950px;
    z-index: 9;
    column-rule-color: rgb(142, 149, 165);
    perspective-origin: 475px 16px;
    transform-origin: 475px 16px;
    caret-color: rgb(142, 149, 165);
    border: 0px none rgb(142, 149, 165);
    font: normal normal 300 normal 13px / 18.5714px Roboto, sans-serif;
    margin: 0px 5px 15px 0px;
    outline: rgb(142, 149, 165) none 0px;
}/*#DIV_1*/

#DIV_1:after {
    box-sizing: border-box;
    color: rgb(142, 149, 165);
    text-align: left;
    text-decoration: none solid rgb(142, 149, 165);
    text-size-adjust: 100%;
    column-rule-color: rgb(142, 149, 165);
    caret-color: rgb(142, 149, 165);
    border: 0px none rgb(142, 149, 165);
    font: normal normal 300 normal 13px / 18.5714px Roboto, sans-serif;
    outline: rgb(142, 149, 165) none 0px;
}/*#DIV_1:after*/

#DIV_1:before {
    box-sizing: border-box;
    color: rgb(142, 149, 165);
    text-align: left;
    text-decoration: none solid rgb(142, 149, 165);
    text-size-adjust: 100%;
    column-rule-color: rgb(142, 149, 165);
    caret-color: rgb(142, 149, 165);
    border: 0px none rgb(142, 149, 165);
    font: normal normal 300 normal 13px / 18.5714px Roboto, sans-serif;
    outline: rgb(142, 149, 165) none 0px;
}/*#DIV_1:before*/

#FORM_2 {
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(142, 149, 165);
    height: 32px;
    left: 0px;
    position: relative;
    right: 0px;
    text-align: left;
    text-decoration: none solid rgb(142, 149, 165);
    text-size-adjust: 100%;
    top: 0px;
    width: 950px;
    column-rule-color: rgb(142, 149, 165);
    perspective-origin: 475px 16px;
    transform-origin: 475px 16px;
    caret-color: rgb(142, 149, 165);
    border: 0px none rgb(142, 149, 165);
    font: normal normal 300 normal 13px / 18.5714px Roboto, sans-serif;
    margin: 0px;
    outline: rgb(142, 149, 165) none 0px;
}/*#FORM_2*/

#FORM_2:after {
    box-sizing: border-box;
    color: rgb(142, 149, 165);
    text-align: left;
    text-decoration: none solid rgb(142, 149, 165);
    text-size-adjust: 100%;
    column-rule-color: rgb(142, 149, 165);
    caret-color: rgb(142, 149, 165);
    border: 0px none rgb(142, 149, 165);
    font: normal normal 300 normal 13px / 18.5714px Roboto, sans-serif;
    outline: rgb(142, 149, 165) none 0px;
}/*#FORM_2:after*/

#FORM_2:before {
    box-sizing: border-box;
    color: rgb(142, 149, 165);
    text-align: left;
    text-decoration: none solid rgb(142, 149, 165);
    text-size-adjust: 100%;
    column-rule-color: rgb(142, 149, 165);
    caret-color: rgb(142, 149, 165);
    border: 0px none rgb(142, 149, 165);
    font: normal normal 300 normal 13px / 18.5714px Roboto, sans-serif;
    outline: rgb(142, 149, 165) none 0px;
}/*#FORM_2:before*/

#INPUT_3 {
    background-position: 0px 0px;
    color: rgb(142, 149, 165);
    height: 32px;
    text-decoration: none solid rgb(142, 149, 165);
    text-size-adjust: 100%;
    width: 950px;
    column-rule-color: rgb(142, 149, 165);
    perspective-origin: 475px 16px;
    transform-origin: 475px 16px;
    caret-color: rgb(142, 149, 165);
    background: rgba(0, 0, 0, 0) none repeat scroll 0px 0px / auto padding-box border-box;
    border: 1px solid rgb(66, 71, 84);
    border-radius: 3px 3px 3px 3px;
    font: normal normal 300 normal 13px / 32px Roboto, sans-serif;
    outline: rgb(142, 149, 165) none 0px;
    padding: 0px 10px;
    transition: all 0.2s ease 0s;
}/*#INPUT_3*/

#INPUT_3:after {
    box-sizing: border-box;
    color: rgb(142, 149, 165);
    text-decoration: none solid rgb(142, 149, 165);
    text-size-adjust: 100%;
    column-rule-color: rgb(142, 149, 165);
    caret-color: rgb(142, 149, 165);
    border: 0px none rgb(142, 149, 165);
    font: normal normal 300 normal 13px / 32px Roboto, sans-serif;
    outline: rgb(142, 149, 165) none 0px;
}/*#INPUT_3:after*/

#INPUT_3:before {
    box-sizing: border-box;
    color: rgb(142, 149, 165);
    text-decoration: none solid rgb(142, 149, 165);
    text-size-adjust: 100%;
    column-rule-color: rgb(142, 149, 165);
    caret-color: rgb(142, 149, 165);
    border: 0px none rgb(142, 149, 165);
    font: normal normal 300 normal 13px / 32px Roboto, sans-serif;
    outline: rgb(142, 149, 165) none 0px;
}/*#INPUT_3:before*/

#BUTTON_4 {
    background-position: 0px 0px;
    bottom: 0px;
    color: rgb(100, 107, 127);
    cursor: pointer;
    display: block;
    height: 32px;
    left: 918px;
    min-height: 0px;
    position: absolute;
    right: 0px;
    text-decoration: none solid rgb(100, 107, 127);
    text-size-adjust: 100%;
    top: 0px;
    width: 32px;
    column-rule-color: rgb(100, 107, 127);
    perspective-origin: 16px 16px;
    transform-origin: 16px 16px;
    caret-color: rgb(100, 107, 127);
    background: rgba(0, 0, 0, 0) none repeat scroll 0px 0px / auto padding-box border-box;
    border: 0px none rgb(100, 107, 127);
    font: normal normal 300 normal 15.6px / 22.2857px Roboto, sans-serif;
    outline: rgb(100, 107, 127) none 0px;
    padding: 0px;
    transition: all 0.2s ease 0s;
}/*#BUTTON_4*/

#BUTTON_4:after {
    box-sizing: border-box;
    color: rgb(100, 107, 127);
    cursor: pointer;
    text-decoration: none solid rgb(100, 107, 127);
    text-size-adjust: 100%;
    column-rule-color: rgb(100, 107, 127);
    caret-color: rgb(100, 107, 127);
    border: 0px none rgb(100, 107, 127);
    font: normal normal 300 normal 15.6px / 22.2857px Roboto, sans-serif;
    outline: rgb(100, 107, 127) none 0px;
}/*#BUTTON_4:after*/

#BUTTON_4:before {
    box-sizing: border-box;
    color: rgb(100, 107, 127);
    cursor: pointer;
    text-decoration: none solid rgb(100, 107, 127);
    text-size-adjust: 100%;
    column-rule-color: rgb(100, 107, 127);
    caret-color: rgb(100, 107, 127);
    border: 0px none rgb(100, 107, 127);
    font: normal normal 300 normal 15.6px / 22.2857px Roboto, sans-serif;
    outline: rgb(100, 107, 127) none 0px;
}/*#BUTTON_4:before*/

#I_5 {
    box-sizing: border-box;
    color: rgb(100, 107, 127);
    cursor: pointer;
    display: inline-block;
    height: 15px;
    text-align: center;
    text-decoration: none solid rgb(100, 107, 127);
    text-size-adjust: 100%;
    width: 14.5px;
    column-rule-color: rgb(100, 107, 127);
    perspective-origin: 7.25px 7.5px;
    transform-origin: 7.25px 7.5px;
    caret-color: rgb(100, 107, 127);
    border: 0px none rgb(100, 107, 127);
    font: normal normal 400 normal 15.6px / 15.6px FontAwesome;
    outline: rgb(100, 107, 127) none 0px;
}/*#I_5*/

/*#I_5:after {*/
    /*box-sizing: border-box;*/
    /*color: rgb(100, 107, 127);*/
    /*cursor: pointer;*/
    /*text-align: center;*/
    /*text-decoration: none solid rgb(100, 107, 127);*/
    /*text-size-adjust: 100%;*/
    /*column-rule-color: rgb(100, 107, 127);*/
    /*caret-color: rgb(100, 107, 127);*/
    /*border: 0px none rgb(100, 107, 127);*/
    /*font: normal normal 400 normal 15.6px / 15.6px FontAwesome;*/
    /*outline: rgb(100, 107, 127) none 0px;*/
/*}!*#I_5:after*!*/

#I_5:before {
    box-sizing: border-box;
    color: rgb(100, 107, 127);
    content: "\f002";
    cursor: pointer;
    text-align: center;
    text-decoration: none solid rgb(100, 107, 127);
    text-size-adjust: 100%;
    column-rule-color: rgb(100, 107, 127);
    perspective-origin: 0px 0px;
    transform-origin: 0px 0px;
    caret-color: rgb(100, 107, 127);
    border: 0px none rgb(100, 107, 127);
    font: normal normal 400 normal 15.6px / 15.6px FontAwesome;
    outline: rgb(100, 107, 127) none 0px;
}/*#I_5:before*/

#DIV_6 {
    box-sizing: border-box;
    color: rgb(142, 149, 165);
    display: none;
    position: absolute;
    text-align: left;
    text-decoration: none solid rgb(142, 149, 165);
    text-size-adjust: 100%;
    top: 37px;
    width: 100%;
    column-rule-color: rgb(142, 149, 165);
    caret-color: rgb(142, 149, 165);
    border: 0px none rgb(142, 149, 165);
    border-radius: 3px 3px 3px 3px;
    font: normal normal 300 normal 13px / 18.5714px Roboto, sans-serif;
    outline: rgb(142, 149, 165) none 0px;
    overflow: hidden;
}/*#DIV_6*/

#DIV_6:after {
    box-sizing: border-box;
    color: rgb(142, 149, 165);
    text-align: left;
    text-decoration: none solid rgb(142, 149, 165);
    text-size-adjust: 100%;
    column-rule-color: rgb(142, 149, 165);
    caret-color: rgb(142, 149, 165);
    border: 0px none rgb(142, 149, 165);
    font: normal normal 300 normal 13px / 18.5714px Roboto, sans-serif;
    outline: rgb(142, 149, 165) none 0px;
}/*#DIV_6:after*/

#DIV_6:before {
    box-sizing: border-box;
    color: rgb(142, 149, 165);
    text-align: left;
    text-decoration: none solid rgb(142, 149, 165);
    text-size-adjust: 100%;
    column-rule-color: rgb(142, 149, 165);
    caret-color: rgb(142, 149, 165);
    border: 0px none rgb(142, 149, 165);
    font: normal normal 300 normal 13px / 18.5714px Roboto, sans-serif;
    outline: rgb(142, 149, 165) none 0px;
}/*#DIV_6:before*/

.body-wrapper {
    padding: 25px 0;
    box-sizing: border-box;
    font-weight: 300;
    font-size: 13px;
    font-family: Roboto,sans-serif;
    line-height: 1.42857;
    color: #8e95a5;
    box-sizing: border-box;

}

.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 1.42857;
    color: #8e95a5;

}

.container:before {
    content: " ";
    display: table;

}

.container:after {
    clear: both;
}

.widget-rachit {
    margin-bottom: 20px;

}

.widget-rachit-title {
    margin-bottom: 10px;
    position: relative;
    text-align: left;
}

#H1_1 {
    box-sizing: border-box;
    /*color: rgb(0, 172, 193);*/
    display: inline-block;
    height: 21px;
    /*text-decoration: none solid rgb(0, 172, 193);*/
    text-size-adjust: 100%;
    text-transform: uppercase;
    vertical-align: middle;
    width: 71.25px;
    /*column-rule-color: rgb(0, 172, 193);*/
    perspective-origin: 35.625px 10.5px;
    transform-origin: 35.625px 10.5px;
    /*caret-color: rgb(0, 172, 193);*/
    /*border: 0px none rgb(0, 172, 193);*/
    font: normal normal 500 normal 19.5px / 21.45px Roboto, sans-serif;
    list-style: none outside none;
    margin: 0px 0px 3px;
    /*outline: rgb(0, 172, 193) none 0px;*/
}/*#H1_1*/

#H1_1:after {
    box-sizing: border-box;
    color: rgb(0, 172, 193);
    text-decoration: none solid rgb(0, 172, 193);
    text-size-adjust: 100%;
    text-transform: uppercase;
    column-rule-color: rgb(0, 172, 193);
    caret-color: rgb(0, 172, 193);
    border: 0px none rgb(0, 172, 193);
    font: normal normal 500 normal 19.5px / 21.45px Roboto, sans-serif;
    list-style: none outside none;
    outline: rgb(0, 172, 193) none 0px;
}/*#H1_1:after*/

#H1_1:before {
    box-sizing: border-box;
    color: rgb(0, 172, 193);
    text-decoration: none solid rgb(0, 172, 193);
    text-size-adjust: 100%;
    text-transform: uppercase;
    column-rule-color: rgb(0, 172, 193);
    caret-color: rgb(0, 172, 193);
    border: 0px none rgb(0, 172, 193);
    font: normal normal 500 normal 19.5px / 21.45px Roboto, sans-serif;
    list-style: none outside none;
    outline: rgb(0, 172, 193) none 0px;
}/*#H1_1:before*/

.widget-rachit-body{
    box-sizing: border-box;
    font-weight: 300;
    font-size: 13px;
    font-family: Roboto,sans-serif;
    line-height: 1.42857;
    color: #8e95a5;
    -webkit-tap-highlight-color: rgba(0,0,0,0);

}

.widget-rachit-row-movie-list{
    margin-left: -10px;
    margin-right: -10px;
    font-weight: 300;
    font-size: 13px;
    font-family: Roboto,sans-serif;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    box-sizing: border-box;
}

#FilterSPAN_1 {
    text-align: center;
    box-sizing: border-box;
    color: rgb(142, 149, 165);
    cursor: pointer;
    display: block;
    float: right;
    height: 24px;
    text-decoration: none solid rgb(142, 149, 165);
    text-size-adjust: 100%;
    text-transform: uppercase;
    vertical-align: middle;
    width: 10%;
    column-rule-color: rgb(142, 149, 165);
    -webkit-locale: "en-US";
    perspective-origin: 38.6719px 12px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-text-emphasis-color: rgb(142, 149, 165);
    -webkit-text-fill-color: rgb(142, 149, 165);
    -webkit-text-stroke-color: rgb(142, 149, 165);
    transform-origin: 38.6719px 12px;
    caret-color: rgb(142, 149, 165);
    background: rgb(52, 57, 70) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(142, 149, 165);
    border-radius: 2px 2px 2px 2px;
    font: normal normal 500 normal 13px / 18.5714px Roboto, sans-serif;
    list-style: none outside none;
    outline: rgb(142, 149, 165) none 0px;
    padding: 3px 12px;
    transition: all 0.1s ease-in-out 0s;
    -webkit-border-after: 0px none rgb(142, 149, 165);
    -webkit-border-before: 0px none rgb(142, 149, 165);
    -webkit-border-end: 0px none rgb(142, 149, 165);
    -webkit-border-start: 0px none rgb(142, 149, 165);
    -webkit-transition: all 0.1s ease-in-out 0s;
    -webkit-transform-origin: 38.6719px 12px;
}/*#FilterSPAN_1*/

#FilterSPAN_1:after {
    box-sizing: border-box;
    color: rgb(142, 149, 165);
    cursor: pointer;
    text-decoration: none solid rgb(142, 149, 165);
    text-size-adjust: 100%;
    text-transform: uppercase;
    column-rule-color: rgb(142, 149, 165);
    -webkit-locale: "en-US";
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-text-emphasis-color: rgb(142, 149, 165);
    -webkit-text-fill-color: rgb(142, 149, 165);
    -webkit-text-stroke-color: rgb(142, 149, 165);
    caret-color: rgb(142, 149, 165);
    border: 0px none rgb(142, 149, 165);
    font: normal normal 500 normal 13px / 18.5714px Roboto, sans-serif;
    list-style: none outside none;
    outline: rgb(142, 149, 165) none 0px;
    -webkit-border-after: 0px none rgb(142, 149, 165);
    -webkit-border-before: 0px none rgb(142, 149, 165);
    -webkit-border-end: 0px none rgb(142, 149, 165);
    -webkit-border-start: 0px none rgb(142, 149, 165);
}/*#FilterSPAN_1:after*/

#FilterSPAN_1:before {
    box-sizing: border-box;
    color: rgb(142, 149, 165);
    cursor: pointer;
    text-decoration: none solid rgb(142, 149, 165);
    text-size-adjust: 100%;
    text-transform: uppercase;
    column-rule-color: rgb(142, 149, 165);
    -webkit-locale: "en-US";
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-text-emphasis-color: rgb(142, 149, 165);
    -webkit-text-fill-color: rgb(142, 149, 165);
    -webkit-text-stroke-color: rgb(142, 149, 165);
    caret-color: rgb(142, 149, 165);
    border: 0px none rgb(142, 149, 165);
    font: normal normal 500 normal 13px / 18.5714px Roboto, sans-serif;
    list-style: none outside none;
    outline: rgb(142, 149, 165) none 0px;
    -webkit-border-after: 0px none rgb(142, 149, 165);
    -webkit-border-before: 0px none rgb(142, 149, 165);
    -webkit-border-end: 0px none rgb(142, 149, 165);
    -webkit-border-start: 0px none rgb(142, 149, 165);
}/*#FilterSPAN_1:before*/

#FilterI_2 {
    box-sizing: border-box;
    color: rgb(142, 149, 165);
    cursor: pointer;
    display: inline-block;
    height: 13px;
    text-decoration: none solid rgb(142, 149, 165);
    text-size-adjust: 100%;
    text-transform: uppercase;
    width: 10.2188px;
    column-rule-color: rgb(142, 149, 165);
    -webkit-font-smoothing: antialiased;
    -webkit-locale: "en-US";
    perspective-origin: 5.10938px 6.5px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-text-emphasis-color: rgb(142, 149, 165);
    -webkit-text-fill-color: rgb(142, 149, 165);
    -webkit-text-stroke-color: rgb(142, 149, 165);
    transform-origin: 5.10938px 6.5px;
    caret-color: rgb(142, 149, 165);
    border: 0px none rgb(142, 149, 165);
    font: normal normal 400 normal 13px / 13px FontAwesome;
    list-style: none outside none;
    outline: rgb(142, 149, 165) none 0px;
    -webkit-border-after: 0px none rgb(142, 149, 165);
    -webkit-border-before: 0px none rgb(142, 149, 165);
    -webkit-border-end: 0px none rgb(142, 149, 165);
    -webkit-border-start: 0px none rgb(142, 149, 165);
    -webkit-transform-origin: 5.10938px 6.5px;
}/*#FilterI_2*/

#FilterI_2:after {
    box-sizing: border-box;
    color: rgb(142, 149, 165);
    cursor: pointer;
    text-decoration: none solid rgb(142, 149, 165);
    text-size-adjust: 100%;
    text-transform: uppercase;
    column-rule-color: rgb(142, 149, 165);
    -webkit-font-smoothing: antialiased;
    -webkit-locale: "en-US";
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-text-emphasis-color: rgb(142, 149, 165);
    -webkit-text-fill-color: rgb(142, 149, 165);
    -webkit-text-stroke-color: rgb(142, 149, 165);
    caret-color: rgb(142, 149, 165);
    border: 0px none rgb(142, 149, 165);
    font: normal normal 400 normal 13px / 13px FontAwesome;
    list-style: none outside none;
    outline: rgb(142, 149, 165) none 0px;
    -webkit-border-after: 0px none rgb(142, 149, 165);
    -webkit-border-before: 0px none rgb(142, 149, 165);
    -webkit-border-end: 0px none rgb(142, 149, 165);
    -webkit-border-start: 0px none rgb(142, 149, 165);
}/*#FilterI_2:after*/

#FilterI_2:before {
    box-sizing: border-box;
    color: rgb(142, 149, 165);
    content: "\f0b0";
    cursor: pointer;
    text-decoration: none solid rgb(142, 149, 165);
    text-size-adjust: 100%;
    text-transform: uppercase;
    column-rule-color: rgb(142, 149, 165);
    -webkit-font-smoothing: antialiased;
    -webkit-locale: "en-US";
    perspective-origin: 0px 0px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-text-emphasis-color: rgb(142, 149, 165);
    -webkit-text-fill-color: rgb(142, 149, 165);
    -webkit-text-stroke-color: rgb(142, 149, 165);
    transform-origin: 0px 0px;
    caret-color: rgb(142, 149, 165);
    border: 0px none rgb(142, 149, 165);
    font: normal normal 400 normal 13px / 13px FontAwesome;
    list-style: none outside none;
    outline: rgb(142, 149, 165) none 0px;
    -webkit-border-after: 0px none rgb(142, 149, 165);
    -webkit-border-before: 0px none rgb(142, 149, 165);
    -webkit-border-end: 0px none rgb(142, 149, 165);
    -webkit-border-start: 0px none rgb(142, 149, 165);
    -webkit-transform-origin: 0px 0px;
}/*#FilterI_2:before*/

#MessageP_1 {
    box-sizing: border-box;
    color: rgb(213, 216, 222);
    height: 20px;
    text-align: center;
    text-decoration: none solid rgb(213, 216, 222);
    text-size-adjust: 100%;
    width: 1120px;
    column-rule-color: rgb(213, 216, 222);
    perspective-origin: 560px 10px;
    transform-origin: 560px 10px;
    caret-color: rgb(213, 216, 222);
    border: 0px none rgb(213, 216, 222);
    font: normal normal 300 normal 14.3px / 20.4286px Roboto, sans-serif;
    margin: 5px 0px 10px;
    outline: rgb(213, 216, 222) none 0px;
}/*#MessageP_1*/

#MessageP_1:after {
    box-sizing: border-box;
    color: rgb(213, 216, 222);
    text-align: center;
    text-decoration: none solid rgb(213, 216, 222);
    text-size-adjust: 100%;
    column-rule-color: rgb(213, 216, 222);
    caret-color: rgb(213, 216, 222);
    border: 0px none rgb(213, 216, 222);
    font: normal normal 300 normal 14.3px / 20.4286px Roboto, sans-serif;
    outline: rgb(213, 216, 222) none 0px;
}/*#MessageP_1:after*/

#MessageP_1:before {
    box-sizing: border-box;
    color: rgb(213, 216, 222);
    text-align: center;
    text-decoration: none solid rgb(213, 216, 222);
    text-size-adjust: 100%;
    column-rule-color: rgb(213, 216, 222);
    caret-color: rgb(213, 216, 222);
    border: 0px none rgb(213, 216, 222);
    font: normal normal 300 normal 14.3px / 20.4286px Roboto, sans-serif;
    outline: rgb(213, 216, 222) none 0px;
}/*#MessageP_1:before*/

#MessageDIV_1 {
    box-sizing: border-box;
    color: rgb(221, 221, 221);
    height: 36px;
    text-align: center;
    text-decoration: none solid rgb(221, 221, 221);
    text-size-adjust: 100%;
    width: 1120px;
    column-rule-color: rgb(221, 221, 221);
    perspective-origin: 560px 18px;
    transform-origin: 560px 18px;
    caret-color: rgb(221, 221, 221);
    border: 0px none rgb(221, 221, 221);
    font: normal normal 300 normal 14.3px / 20.4286px Roboto, sans-serif;
    margin: 30px 0px 0px;
    outline: rgb(221, 221, 221) none 0px;
}/*#MessageDIV_1*/

#MessageDIV_1:after {
    box-sizing: border-box;
    color: rgb(221, 221, 221);
    text-align: center;
    text-decoration: none solid rgb(221, 221, 221);
    text-size-adjust: 100%;
    column-rule-color: rgb(221, 221, 221);
    caret-color: rgb(221, 221, 221);
    border: 0px none rgb(221, 221, 221);
    font: normal normal 300 normal 14.3px / 20.4286px Roboto, sans-serif;
    outline: rgb(221, 221, 221) none 0px;
}/*#MessageDIV_1:after*/

#MessageDIV_1:before {
    box-sizing: border-box;
    color: rgb(221, 221, 221);
    text-align: center;
    text-decoration: none solid rgb(221, 221, 221);
    text-size-adjust: 100%;
    column-rule-color: rgb(221, 221, 221);
    caret-color: rgb(221, 221, 221);
    border: 0px none rgb(221, 221, 221);
    font: normal normal 300 normal 14.3px / 20.4286px Roboto, sans-serif;
    outline: rgb(221, 221, 221) none 0px;
}/*#MessageDIV_1:before*/

#MessageBUTTON_2 {
    color: rgb(255, 255, 255);
    cursor: pointer;
    height: 36px;
    letter-spacing: 1.56px;
    min-height: 0px;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    text-transform: uppercase;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    width: 229.562px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 114.781px 18px;
    transform-origin: 114.781px 18px;
    user-select: none;
    caret-color: rgb(255, 255, 255);
    background: rgb(0, 172, 193) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 1px solid rgb(0, 172, 193);
    border-radius: 3px 3px 0 0;
    font: normal normal 400 normal 15.6px / 22.2857px Roboto, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
    padding: 6px 50px;
}/*#MessageBUTTON_2*/

#MessageBUTTON_2:after {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    cursor: pointer;
    letter-spacing: 1.56px;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    text-transform: uppercase;
    white-space: nowrap;
    column-rule-color: rgb(255, 255, 255);
    user-select: none;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 400 normal 15.6px / 22.2857px Roboto, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}/*#MessageBUTTON_2:after*/

#MessageBUTTON_2:before {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    cursor: pointer;
    letter-spacing: 1.56px;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    text-transform: uppercase;
    white-space: nowrap;
    column-rule-color: rgb(255, 255, 255);
    user-select: none;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 400 normal 15.6px / 22.2857px Roboto, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}/*#MessageBUTTON_2:before*/

